# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Practica T2-1.iml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\elard\OneDrive - Universidad Privada del Norte\CURSOS\VIDEOJUEGOS\VIDEOJUEGOS\Unity\Practica T2-1\.idea\.idea.Practica T2-1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
